@model HomeProductDetailsViewModel

@{
	
	ViewBag.Title = "Product Details";
}

<div class="row justify-content-center m-3">
	<div class="col-sm-9">
		<div class="card">
			<div class="card-header">
				<h4>@Model.Product.Name</h4>
			</div>
			<div class="card-body text-center">
				<img class="card-img-top" src= @Model.Product.PhotoPath  height="50" width="50"/>

				<h4>ID : @Model.Product.Id</h4>
				<h4>Name : @Model.Product.Name</h4>
				<h4>Description : @Model.Product.Description</h4>
				<h4>Price : $ @Model.Product.UnitPrice</h4>
				<h4>Quantity : @Model.Product.Quantity</h4>
			</div>
			<div class="card-footer text-center">
				<a asp-controller="home" asp-action="Index" class="btn btn-primary m-1">Back</a>
				<a asp-controller="home" asp-action="ProductDetails" asp-route-id="@Model.Product.Id" class="btn btn-primary m-1">Display</a>
				<a asp-controller="home" asp-action="ProductDetails" asp-route-id="@Model.Product.Id" class="btn btn-primary m-1">Edit</a>
				<a asp-controller="home" asp-action="AddProduct" asp-route-id="@Model.Product.Id" class="btn btn-primary m-1">Add</a>
				<a asp-controller="home" asp-action="RemoveProduct" asp-route-id="@Model.Product.Id" class="btn btn-danger m-1">Delete</a>
			</div>
		</div>
	</div>
</div>
